:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e5e7eb;
  background-color: #0b1020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #a5b4fc;
  text-decoration: inherit;
}
a:hover {
  color: #c7d2fe;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0b1020;
}

*{box-sizing:border-box}
